name: Pre-Main Checks

on:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  vet-and-lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Run 'make vet'
      run: make vet

    - name: Run GolangCI-Lint
      uses: golangci/golangci-lint-action@v9

    - name: Run 'make test'
      run: make test
